<header>
  <h1>{{ title }}</h1>
  <h2>subtitle</h2>
  <nav>
    <a href="/" title="ir a la home">inicio</a>
    {% for article in collections.articles %}
    <a href="{{ article.url }}" title="ir a {{ article.data.title }}">{{ article.data.title }}</a>
    {% endfor %}
  </nav>
</header>
