/* Book */
@import "normalice.css";
body {
  font-family: "roboto", Arial, Geneva, sans-serif;
  font-size: 15px;
  color: blue;
}

h1 {
  font-size: 26px;
}

p,
ul,
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
}
